@charset "UTF-8";

/*
    style.css
    ---------------------------------------
    Version: 0.1
    Datum: 11.01.2020 - 19:06
    ---------------------------------------

*/

/* Reset */

html,
body,
div,
span,
a,
ul,
li,
header,
main,
footer,
article,
aside {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    scroll-behavior: smooth;

}

html {
    direction: ltr;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(245, 222, 179, 1);
    background-image: none;
}

header {
    height: 13vh;
}

nav {
    background-color: rgba(0, 0, 0 , 1);
    color: rgba(255, 255, 255, 1);
    height: 2vh;
}

aside {
    width: 33%;
    overflow-y: scroll;
    border-bottom: none !important;
}

footer {
    height: 5vh;
    border-left: 1px solid rgba(0, 0, 0 , 1);
    border-right: 1px solid rgba(0, 0, 0 , 1);
    border-bottom: 1px solid rgba(0, 0, 0 , 1);
}

main {
    width: 67%;
    border-left: 0 !important;
    overflow-x: scroll;
}

header, nav, footer, aside, main {
    padding: 10px;
}

var {
    font-style: normal;
    color: #151515;
}

select {
    font-family: 'Times New Roman', Times, serif;
}

hr {
    border: none;
    color: rgba(0, 0, 0 , 1);
    background-color: rgba(0, 0, 0 , 1);
    height: 1px;
}

.flex {
    display: flex;
}

.border {
    border: 1px solid rgba(0, 0, 0 , 1);
}

.text-center {
    text-align: center;
}

.font-bold {
    font-weight: bold;
}

.height-main {
    height: calc(75vh - 17px);
}